html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  background-color: #010029;
  color: #F6F1D5;
  width: 100%;
  display: flex;
  flex-direction: column;
}

/* Heading Styles */
h1 {
  font-size: 2.5em;
  color: #3E3E3E;
  margin-bottom: 0.5em;
}

h2 {
  font-size: 2em;
  color: #F6F1D5;
  margin-bottom: 0.5em;
}

p {
  font-size: 1em;
  color: #3E3E3E;
}

.top-bar {
  background-color: #e5e5e5;
  padding: 1em;
  display: flex;
  justify-content: left;
  align-items: center;
}

.top-bar .network, .top-bar .rpc {
  font-size: 1em;
  color: #000000;
  margin-right: 0.5em;
}

.top-bar .rpc span {
  cursor: pointer;
  text-decoration: underline;
}

.top-bar .edit-rpc input {
  padding: 0.5em;
  font-size: 1em;
  margin-right: 0.5em;
}

.top-bar .edit-rpc button {
  padding: 0.5em 1em;
  font-size: 1em;
  margin-right: 0.5em;
}

.top-bar .error {
  color: #773333;
  margin-top: 0.5em;
}

/* Message Styles */
.message {
  font-size: 1.5em;
  color: #e8eced;
  padding: 2em;
  text-align: center;
}

/* Button Styles */
div.moons-app button {
  background-color: #474747;
  color: #e8eced;
  border: none;
  padding: 0.5em 1em;
  cursor: pointer;
  transition: background-color 0.3s;
}

button:disabled {
  background-color: #CCCCCC;
}

button:hover:not(:disabled) {
  background-color: #357ABD;
}
